# dependencies
node_modules/
dist/
build/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.vh/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Data and Logs
*.db
*.log
backend/*.txt
backend/*.json
*.ps1

# Explicitly keep requirements.txt
!backend/requirements.txt

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
