fastapi
uvicorn
sqlalchemy>=2.0.0
aiomysql
cryptography>=42.0.0
python-multipart
pydantic>=2.0.0
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt>=4.0.0
email-validator
aiofiles
jinja2
python-dotenv
